[submodule ".claude/plugins/compro"]
	path = .claude/plugins/compro
	url = https://github.com/aorysan/compro.git
	branch = plugin
[submodule ".claude/marketplace"]
	path = .claude/marketplace
	url = https://github.com/aorysan/marketplace.git
